<%= render 'cart' %>

<hr/>
<div class="mx-auto product-wrap">
  <h2 class="mb-3">Available Products</h2>
  <div class="row mx-0 card-scroll">
    <% @products.each do |product| %>
      <%= render partial: 'product_card', locals: { product: product } %>
    <% end %>
  </div>
</div>
