<h2 class="text-center py-3">Editing product</h2>
<div class="form-wrap mx-auto rounded bg-white p-4 my-3 border border-dark-subtle">
  <%= render "form", product: @product %>
</div>
<br>
<div class="text-end px-3">
  <%= link_to "Back to products", admin_products_path, class:'text-success' %>
</div>
